*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* set the sidebar width */
.w-sidebar {
  width: 200px;
  max-width: 200px;
}

.tooltip-inner {
  max-width: 1000px !important;
}
